<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>com.bbs.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Register</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>com.bbs.servlet.Register</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeInf</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>com.bbs.servlet.ChangeInf</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Publish</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>com.bbs.servlet.Publish</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Reply</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>com.bbs.servlet.Reply</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeInf</servlet-name>
    <url-pattern>/front/ChangeInf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Publish</servlet-name>
    <url-pattern>/Publish</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Reply</servlet-name>
    <url-pattern>/Reply</url-pattern>
  </servlet-mapping>
<welcome-file-list>
<welcome-file>/front/index.jsp</welcome-file>
</welcome-file-list>
</web-app>