<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="mydbConnectionString" connectionString="Data Source=DESKTOP-T9I15RN;Initial Catalog=mydb;Persist Security Info=True;User ID=sa;Password=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <appSettings>

    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />

  </appSettings>
</configuration>